.header {
  min-height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 200px;
}
.headerText {
  width: 50%;
}
.headerText .title {
  font-size: 8em;
  margin-bottom: 50px;
}
.headerText .text {
  font-size: 4em;
}
.headerText .title,
.headerText .text {
  color: teal;
}
.headerImage {
  position: relative;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.headerImage:hover {
  top: -20px;
}
