.container {
  margin: 0px 20%;
}
.navbar {
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 50px;
}
.navbarItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbarItem {
  margin: 0 25px;
}
