.container {
  margin: 0px 20%;
}
.navbar {
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 50px;
}
.navbarItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbarItem {
  margin: 0 25px;
}
.btn {
  padding: 10px 30px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
}
.btn,
.navbarItem a {
  transition: 0.2s;
}
.btn:hover,
.navbarItem a:hover {
  color: teal;
  cursor: pointer;
}
